<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ufsystem" connectionString="f7eDavRqKzXNscJQ7XKStg4/cE7b+Ntyb51RytyXTc5njuOvEZ132YkZCva5STtzau0vOROPtr64Y4DWymVJ8PRcLH9vFy5fKBTiKBFH9bs2WscJxMgsNbDJqyxNFkIEuKrx0eYKfvQ=" providerName="System.Data.SqlClient;"/>
    <add name="u8017" connectionString="f7eDavRqKzXNscJQ7XKStg4/cE7b+Ntyb51RytyXTc5njuOvEZ132f3D3kUvuJQcbUo5/0IAb0cQyAnGG099jm9fE1byTKlGWc9Toq69qOFY16UEOw5JZ2U6Q1H5w8HZshuSIv1DXar0TIoovw4vZw==" providerName="System.Data.SqlClient;"/>
    <add name="u8018" connectionString="f7eDavRqKzXNscJQ7XKStg4/cE7b+Ntyb51RytyXTc5njuOvEZ132f3D3kUvuJQc5f04YRGHn9irem8rLjpc1X+TbxADix7iqZg2Y8N0GXoysx6lMYZ7yKNgIMmspTD46nKHOwI59EbGPDGwIcIHGA==" providerName="System.Data.SqlClient;"/>
    <add name="business" connectionString="f7eDavRqKzXNscJQ7XKStg4/cE7b+Nty+bKbjdi9V8+jzrCYW9TjkTfkrsXg3OdSJ0rfji5aKUdWJtE3U83fa1RZNuBLRn2GdIQJ1sximc/dw5CoSPDbZuSht6OWEW2GB9vcqJdm7fxE/UA0TuB8FQ==" providerName="System.Data.SqlClient;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
