<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
     

<add name="ufsystem" connectionString="f7eDavRqKzXNscJQ7XKStg4/cE7b+Ntyb51RytyXTc5njuOvEZ132YkZCva5STtzau0vOROPtr64Y4DWymVJ8PRcLH9vFy5fKBTiKBFH9bs2WscJxMgsNbDJqyxNFkIEuKrx0eYKfvQ="
      providerName="System.Data.SqlClient;" />
</connectionStrings>
</configuration>